.hero-banner {
    background-image: url('../images/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px; 
    width: 1550px;
}
.hero-header{
display: flex;
gap: 909px;
padding: 115px 150px;
}

.logo{
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}

.signup-btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border:none;
    border-radius: 10px;
    background-color: #4E47FF;
    
}

.hero-container{
font-size: 65px;
font-weight: bold;
text-align: center;
height: 240px;
width: 900px;
display: block;
margin: auto;
}

.stayfocused-btn{
        color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border:none;
    border-radius: 10px;
    background-color: #4E47FF;
    display: block;
    margin: 50px auto;


}

.action{
height: 330px;
width: 1140px;
display: flex;
gap: 220px;
padding: 141px;
color: #FFFFFF;
}

.action-content{
    padding: 62px;
    text-align:left;
    ga

}

.action-content h2{
font-size: 42px;
font-weight: bold;
color: #252432;
}

.action-content p{
font-size: 24px;
font-weight: normal;
color: #8987A1;
}

.action-content button{
 color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border:none;
    border-radius: 10px;
    background-color: #4E47FF;

}

.action img{
    height: 328px;
    width: 405px;
    border-radius: 50px;

}


/* Productive Users Section */
.productive-user {
  background-color: #c7d6fa;
  width: 1140px;
  height: 306px;
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(122, 119, 220, 0.3);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}


.productive-user-inside {
  text-align: center;
}


.productive-user-inside h2 {
  color: #252423;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}


.productive-user-inside-elements {
  display: flex;
  justify-content: center;
  gap: 80px;
}


.productive-user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.productive-user-bold {
  font-size: 80px;
  font-weight: bold;
  color: #4a3aff;
  margin: 0;
}


.productive-user-label {
  font-size: 20px;
  color: gray;
  margin-top: 8px;
}

/* Review section */
.review{
  height: 342px;
 margin: 137px auto;
  max-width: 1200px;
}

.review h2{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  display: grid;
  place-items: center;

}

.review-box{
display: flex;
gap: 10px;
}

.review-box-elements{
height: 243px;
width: 366px;
border-radius: 14px;
 background-color:white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);;
padding: 20px;
margin: 0;
 margin-bottom: 5px;

}

.rating{
  display: inline-block;
  font-size: 24px;
}

.star{
  color: #ddd;
}
.star.filled{
  color: #FFB805;
}

.review-box-elements h3{
  font-size: 24px;
  font-weight: 700;
  color: #1E1E1E;
}

.review-box-elements p{
  font-size: 16px;
  font-weight: normal;
  color: #B3B3B3;
}

.photo-name{
  display: flex;
  align-items: center;
  gap:15px;
}


.text-info {
    display: flex;
    flex-direction: column;

  
}

.name{
  font-size: 16px;
  font-weight: 700;
  color: #757575;
  margin: 0;
}

.date{
  font-size: 16px;
  font-weight: normal;
  color: #B3B3B3;
  margin: 0;
}
/* form section */
.whole-form{
  height: 800px;
  width: 1140px;
  background-color: #FFFFFF;
  margin: auto;
  padding: 40px;
  display: flex;
}

.whole-form-inner{
display: flex;
justify-content: center;
align-items: center;
gap: 115px;
}

.whole-form-inner h1{
  font-size: 97px;
  font-weight: bold;
  color: #000000;
  height: 232px;
  width: 528px;
}

.form-input-box{
  display: flex;
  flex-direction: column;
  height: 490px;
  width: 495px;
  justify-content: center;
  padding:71px  auto;


}



.form-input{
    display: flex;
  flex-direction: column;
  height: 102px;
  width: 497px;
margin-top: 10px;
}

.form-input label{
font-size: 18px;
font-weight: 600;
}

.form-input input{
  height: 70px;
  width: 497px;
  font-size: 20px;
  color: #B3B3B3;
  padding: 20px auto;
  border-radius: 10px;
  margin-top: 10px;
}


#textarea{
    width: 497px;
    height: 330px;
    font-size: 20px;
    color: #B3B3B3;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    font-family: inherit;
}


.form-input button{
   color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border:none;
    border-radius: 10px;
    background-color: #4E47FF;
    margin-top: 10px;
     padding: 20px;           
}

/* footer section */
.footer{
  height: 428px;
  width: 1440px;
  color: #FFFFFF;
}

.footer-box{
  text-align: center;

}
 .footer-box h1{
  font-size: 100px;
  font-weight: bolder;
  color: #4E47FF;
  height: 121px;
  width: 291px;
  margin: 0 auto;
  margin-top: 100px;

 }

 .footer-para{
  font-size: 16px;
  color: #8987A1;
  text-align: center;
  height: 48px;
  width: 531px;
  justify-content: center;
margin: 0 auto;
 }

 .footer-box ul {
  display: flex;
  gap:48px;
   font-size: 16px;
  color: #8987A1;
  justify-content: center;
list-style: none;


 }
 .footer-box ul li a{
  text-decoration: none;
    color: #8987A1;

 }

 .footer-box ul li a:hover{
  text-decoration: underline;
 }

 





